.super-mario {
    width: 200px;
    position: absolute;

  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 250px;
    top: 240px;
    
  }
  
  .baloon {
    position: absolute;
    left: 380px;
    top: 50px;
    z-index: 2;
  
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    left: 400px;
    z-index: 3;

    
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 660px;
    top: 190px;
    z-index: 1;

  }